.wp-event-manager-migration-upload-file span.response-message{
    color: green;
}
.wp-event-manager-migration-upload-file span.error{
    color: red;
}

.wp-event-manager-migration-mapping-form table .wp-event-manager-migration-help-tip {
    color: #333;
    width: 1em;
    height: 1em;
    overflow: hidden;
    display: inline-block;
    position: relative;
}

.wp-event-manager-migration-mapping-form table .show-help-tip:before {
    content: "\ea09";
    font-family: wp-event-manager;
    font-size: 1em;
    line-height: 1em;
    vertical-align: top;
    position: absolute;
    top: 0;
    left: 0;
}

.wp-event-manager-migration-mapping-form table .show-help-tip {
    display: inline;
    position: relative;
}

.wp-event-manager-migration-mapping-form table .show-help-tip:hover:after{
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  background: #444;
  border-radius: 8px;
  color: #fff;
  content: attr(title);
  margin: -71px auto;
  font-size: 16px;
  padding: 13px;
  width: 220px;
}
.wp-event-manager-migration-mapping-form table .show-help-tip:hover:before{
  border: solid;
  border-color: #444 transparent;
  border-width: 12px 6px 0 6px;
  content: "";
  left: 45%;
  bottom: 30px;
  position: absolute;
}